*{
	/* Resetting the default styles of the page */
	margin:0;
	padding:0;
}

html{
	overflow:auto;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

h4 {
    text-align: center;
}
 
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

canvas {
  background-color: white; 
  height: auto;
}

a.pos_fixed {
    position: fixed;
    top: 10px;
    right: 15px;
    color: red;
}

a.pos_fixedleft {
    position: fixed;
    top: 10px;
    left: 15px;
    color: red;
}
